@using PortalAlunoWeb_Front.Data
@inject HttpClient http
@inject NavigationManager navigation



<div class="container">
    <EditForm Model="@Aluno" OnValidSubmit="@OnValidSubmit">
        <div class="form-group">
            <Field Class="col col-4">
                <FieldLabel>Nome: </FieldLabel>
                <TextEdit @bind-Text="Aluno.NOME_ALUNO" />
            </Field>
        </div>

        <div class="form-group">
            <Field Class="col col-4">
                <FieldLabel>Idade: </FieldLabel>
                <Blazorise.NumericEdit @bind-Value="Aluno.IDADE_ALUNO" />
            </Field>
        </div>

        <div class="form-group">
            <Field Class="col col-4">
                <FieldLabel>Cep: </FieldLabel>
                <Blazorise.NumericEdit @bind-Value="Aluno.Endereco.cep" @onchange="BuscarViaCepAluno" />
            </Field>
        </div>

        @if (Aluno.Endereco.bairro != "")
        {
            <div class="form-group">
                <Field Class="col col-8">
                    <FieldLabel>Rua: </FieldLabel>
                    <TextEdit @bind-Text="Aluno.Endereco.logradouro" />
                </Field>

                   <Field Class="col col-4">
                    <FieldLabel>Número: </FieldLabel>
                    <TextEdit @bind-Text="Aluno.Endereco.numero" />
                </Field>
            </div>

                        <div class="form-group">
                <Field Class="col col-4">
                    <FieldLabel>Complemento: </FieldLabel>
                    <TextEdit @bind-Text="Aluno.Endereco.complemento" />
                </Field>
            </div>
            <div class="form-group">
                <Field Class="col col-4">
                    <FieldLabel>Bairro: </FieldLabel>
                    <TextEdit @bind-Text="Aluno.Endereco.bairro" />
                </Field>
            </div>
            <div class="form-group">
                <Field Class="col col-4">
                    <FieldLabel>Cidade: </FieldLabel>
                    <TextEdit @bind-Text="Aluno.Endereco.localidade" />
                </Field>
            </div>
                        <div class="form-group">
                <Field Class="col col-4">
                    <FieldLabel>UF: </FieldLabel>
                    <TextEdit @bind-Text="Aluno.Endereco.uf" />
                </Field>
            </div>
        }
        <br />
        <div class="form-group" py-2>

            <Button Color="Color.Secondary" Active @onclick="@(() => navigation.NavigateTo("Aluno"))">@BotaoTextoCancelar</Button>
            <button class="btn btn-primary" type="submit">@BotaoTextoSubmit</button>

        </div>
    </EditForm>

</div>

@code {

    [Parameter]
    public Aluno Aluno { get; set; }

    [Parameter]
    public string BotaoTextoSubmit { get; set; }

    [Parameter]
    public string BotaoTextoCancelar { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    public async void BuscarViaCepAluno()
    {
        Aluno.Endereco = await http.GetJsonAsync<Endereco>("https://viacep.com.br/ws/" + Aluno.Endereco.cep + "/json/");
        StateHasChanged();
    }

}