@using PortalAlunoWeb_Front.Data
@inject NavigationManager navigation
@inject HttpClient http

<div class="container">
    <EditForm Model="@Professor" OnValidSubmit="@OnValidSubmit">
        <div class="form-group">
            <Field Class="col col-4">
                <FieldLabel>Nome: </FieldLabel>
                <TextEdit @bind-Text=Professor.NOME_PROFESSOR/> 
            </Field>
        </div>

        <div class="form-group">
            <Field Class="col col-4">
                <FieldLabel>Idade: </FieldLabel>
                <input type="number" @bind="Professor.IDADE_PROFESSOR"/>
            </Field>
        </div>
        <br />
        <div class="form-group" py-2>
        <Button Color="Color.Secondary" Active @onclick="@(()=>navigation.NavigateTo("Aluno"))"> @BotaoTextoCancelar</Button>
        <button class= "btn btn-primary" type="submit">@BotaoTextoSubmit</button>
    </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public Professor Professor{ get; set; }

    [Parameter]
    public string BotaoTextoSubmit { get; set;}

    [Parameter]
    public string BotaoTextoCancelar{ get; set; }

    [Parameter]
    public EventCallback OnValidSubmit{ get; set; }

}
